{% extends "main/base.html" %}
{% block titulo %}Blog{% endblock titulo %}

{% block contenido %}
    <h1>Blog</h1>
    {% for manzana in manzanas %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ manzana.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ manzana.author }}</a>
                    <small class="text-muted">{{ manzana.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2 class="article-title">{{ manzana.title }}</h2>
                <p class="article-content">{{ manzana.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock contenido %}