{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block contenido %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }} {# aca usamos form en vez de formulario xq no hay view declarada. form es el default name #}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need a new account? <a class="ml-2" href="{% url 'users:registro' %}">Sign up here!</a>
            </small>
        </div>
    </div>
{% endblock contenido %}