{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block contenido %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }} {# aca usamos form en vez de formulario xq no hay view declarada. form es el default name #}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock contenido %}