{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>{% block titulo %}My Site{% endblock titulo %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- el link a main.css va sin folder xq esta en la misma app que base.html (este archivo) -->
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main.css' %}">
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'main:casa' %}">Terapia Online</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'main:casa' %}">Home</a>
                        <a class="nav-item nav-link" href="/create-post">Post</a>
                    </div>
                    <!--Navbar right side-->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="users/login.html">Login</a>
                        <a class="nav-item nav-link" href="{% url 'users:registro' %}">Sign up</a>
                    </div>
                </div>
            </div>    
        </nav>
    </header>
    <div class="container">
        {% block contenido %}
        {# Aca va el contenido individual de cada pagina que hereda base.html #}        
        {% endblock contenido %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>